<!-- Header with Background Image -->
<%= render "header" %>
<!-- Page Content -->
<div class="container">
  <div class="row row_custom">
    <h1>Contact Us</h1>
  </div>
  <div class="row row_custom">
    <hr>
  </div>
  <div class="row row_custom">
    <h3>Thank you for contacting us. We will respond to your request asap.</h3>
  </div>
  <div class="row row_custom">
    <p>First Name:</p><%= params[:first_name] %>
  </div>
  <div class="row row_custom">
    <p>Last Name:</p><%= params[:last_name] %>
  </div>
  <div class="row row_custom">
    <p>Email:</p><%= params[:email] %>
  </div>
  <div class="row row_custom">
    <p>Your Message:</p><%= params[:message] %>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
<!-- Footer -->
<%= render "footer" %>
