<!-- Header with Background Image -->
<%= render "header" %>
<!-- Page Content -->
<div class="container">
  <div class="row row_custom">
    <h1 class="center">A fresh take on the applicant tracking system</h1>
    <p class="center">Limelight combines ATS and CRM functionality in a single powerful platform to help you source, nurture, and manage your candidates all in one place.</p>
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-sm-4 my-4">
      <div class="card">
        <img class="card-img-top" src="https://www.alternativehumanresource.com/wp-content/uploads/2015/08/hiring-300x200.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">Proactively engage the best talent</h4>
          <p class="card-text">Discover and reach the top candidates that aren't yet looking, all in just a few clicks. With our simple browser extension, your entire team can start sourcing and referring rockstars.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 my-4">
      <div class="card">
        <img class="card-img-top" src="https://i0.wp.com/www.navigarecruiting.com/wp-content/uploads/2016/01/Dollarphotoclub_90931660-300x200.jpg?resize=300%2C200" alt="">
        <div class="card-body">
          <h4 class="card-title">Streamline your interview process</h4>
          <p class="card-text">Drive an end-to-end recruiting process with ease. Lever takes care of the busy work and minimizes manual effort, so you can spend more time giving every candidate a stellar experience.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 my-4">
      <div class="card">
        <img class="card-img-top" src="https://cdn.sisense.com/wp-content/uploads/23-300x200.png" alt="">
        <div class="card-body">
          <h4 class="card-title">Make data-driven decisions, fast</h4>
          <p class="card-text">Always keep track of the numbers that matter. With quick, flexible reports and interactive dashboards, you're never far from the insights you need to power a top-notch recruiting strategy.</p>
        </div>
      </div>
    </div>
    <%= link_to "SEE OUR PRICING",pricing_url,class:"btn_half_size" %>
  </div>
  <!-- /.container -->
  <div class="row row_custom background_row">
    <div class="col-md-6">
      <div class="demo_video">
        <%= video_tag("scheduling.mp4",width: "100%",height: "auto", poster: "scheduling_poster.png", autoplay: "true",loop:"true") %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="demo_content">
        <h2>Manage your end-to-end interview process with ease</h2>
        <ul>
          <li>Make scheduling and re-scheduling a breeze with a simple drag and drop interface that incorporates calendar availability</li>
          <li>Impress candidates and collect consistent, actionable interview data with customized feedback forms and skills-based scorecards</li>
          <li>Craft, approve, and send offers right from Lever, so you can secure your ideal candidates - fast</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row row_custom">
    <div class="col-md-6">
      <div class="demo_content">
        <h2>Track the numbers that matter</h2>
        <ul>
          <li>Drive more insightful discussions with shared access to interactive, visual dashboards</li>
          <li>Click on any number to expose underlying candidate data and see the people behind the percentage</li>
          <li>Build customizable reports with unique URLs so you can always keep tabs on what's critical</li>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div class="demo_video">
        <%= video_tag("reports.mp4",width: "100%",height: "auto", poster: "scheduling_poster.png", autoplay: "true",loop:"true") %>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row row_custom background_row">
    <h1 class="center">Discover the power of limelight</h1>
    <p class="center">Learn how we'll help your company hire top talent faster.</p>
    <br><br><br>
    <%= link_to "CONTACT US TO GET A DEMO",contact_us_url,class:"btn_half_size" %>
  </div>
</div>

<!-- Footer -->
<%= render "footer" %>

<style>
  .row_custom {
      padding-top: 20px;
      padding-bottom: 20px;
  }

  p.center {
      width: 90%;
      text-align: center;
      margin: auto;
  }

  h1.center {
      width: 100%;
      text-align: center;
  }

  .btn_half_size {
      width: 50%;
      padding: 20px;
      text-align: center;
      align-content: center;
      margin: auto;
      background-color: #343a40;
      text-decoration: none;
      color: white;
  }

  .btn_half_size {
      -webkit-transition-duration: 0.4s;
      /* Safari */
      transition-duration: 0.4s;
  }

  .btn_half_size:hover {
      background-color: #454c54;

      /* Green */
      color: white;
      text-decoration: none;
  }

  .demo_video {
      padding: 20px;
  }

  .demo_content {
      padding: 20px;
  }

  .background_row {
      background-color: #f4f4f4;
  }

  .card {
      height: 100%;
  }
</style>
