<!-- Page Content -->
<div class="container">
  <br>
  <div class="row">
    <h1 class="text-center">Additional Features and Functionality</h1>
    <br>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <%= image_tag("ccpIcon.png", :alt => "rss feed") %>
      <h4>Custom Careers Page</h4>
      <p>Easily construct a careers page that reflects your brand and encourages candidates to apply. With simple posting management and customizable forms, you'll be able to create the perfect application process in no time.</p>
    </div>
    <div class="col">
      <%= image_tag("rcpIcon.png", :alt => "rss feed") %>
      <h4>Robust Candidate Profiles</h4>
      <p>Consolidate multiple job applications and many talent touchpoints into one streamlined candidate profile. By keeping Lever your source of truth on each candidate, you'll have everything you need to make a decision in one central place.</p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <%= image_tag("tstIcon.png", :alt => "rss feed") %>
      <h4>Time Saving Tools</h4>
      <p>Easily construct a careers page that reflects your brand and encourages candidates to apply. With simple posting management and customizable forms, you'll be able to create the perfect application process in no time.</p>
    </div>
    <div class="col">
      <%= image_tag("uacIcon.png", :alt => "rss feed") %>
      <h4>User Access Controls</h4>
      <p>Ensure critical data stays confidential with the ability to grant access by role, team, location, or tag in just one click. For sensitive conversations day-to-day, secret notes and feedback forms let you talk privately.</p>
    </div>
  </div>
  <br>
  <!-- /.row -->
</div>
<!-- /.container -->

<!-- Footer -->
<%= render "footer" %>
