<%= bootstrap_form_with(model: applicant,url: job_posting_applicants_path(@job_posting), local: true) do |form| %>
  <% if applicant.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(applicant.errors.count, "error") %> prohibited this applicant from being saved:</h2>
    <ul>
      <% applicant.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-6 form-group">
        <%= form.text_field :first_name, label: "First Name", placeholder: "Enter first name here..." %>
      </div>
      <div class="col-sm-6 form-group">
        <%= form.text_field :last_name, label: "Last Name", placeholder: "Enter last name here..." %>
      </div>
    </div>
    <div class = "row">
      <div class = "col-sm-12">
        <div class="form-actions">
          <div class="actions" >
            <%= form.submit %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
