<p id='notice'><%= notice %></p>
<% if @user %>
  <% @user.attributes.each do |k, v| %>
    <b><%= k %>:</b> <%= v %> <br>
  <% end %>
<% end %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
