<%= bootstrap_form_with(model: job_posting, url: company_job_postings_path(@company), local: true) do |form| %>
<% if job_posting.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(job_posting.errors.count, "error") %> prohibited this job_posting from being saved:</h2>

    <ul>
        <% job_posting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class='row'>
  <div class='col-sm-6 col-offset-3'>
    <%= form.text_field :title, label: "Title" %>
    <%= form.text_field :team_name, label: "Team" %>
    <%= form.text_field :description, label: "Description" %>
    <%= form.number_field :min_salary,
    value: number_to_currency(form.object.min_salary.to_f, delimiter: '', unit: ''),
    step: 0.01, label: "Salary" %>
    <%= form.number_field :years_of_experience, label: "Years of Experience" %>
  </div>
</div>

<div class="actions">
    <%= form.submit %>
</div>
<% end %>
