<%= form_with(model: job_posting, local: true) do |form| %>
<% if job_posting.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(job_posting.errors.count, "error") %> prohibited this job_posting from being saved:</h2>

    <ul>
        <% job_posting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<form class="form-horizontal" role="form">
    <div class="container">
        <div class="form-group">
            <label class="col-lg-3 control-label">Job Title</label>
            <div class="col-lg-8">
                <%= form.text_field :title, :class => "form-control" %>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">Type</label>
            <div class="col-lg-8">
                <%= form.text_field :job_type, :class => "form-control" %>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">Description</label>
            <div class="col-lg-8">
                <%= form.text_field :description, :class => "form-control" %>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">Salary</label>
            <div class="col-lg-8">
                <%= form.text_field :min_salary, :class => "form-control" %>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">Years of Experience</label>
            <div class="col-lg-8">
                <%= form.number_field :years_of_experience, :class => "form-control" %>
            </div>
        </div>
    </div>
</div>

<div class="actions">
    <%= form.submit %>
</div>
<% end %>
