<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Team</th>
      <th scope="col">Salary Offer</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @job_postings.each do |job_posting| %>
    <tr>
        <td><%= job_posting.title %></td>
        <td><%= job_posting.team.name%></td>
        <td><%= job_posting.min_salary %></td>
        <td>
            <%= link_to 'Show', company_job_posting_path(@company, job_posting) %>
            <%= link_to 'Edit', edit_company_job_posting_path(@company, job_posting) %>
            <%= link_to 'Destroy', company_job_posting_path(@company, job_posting), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
    </tr>
    <% end %>
  </tbody>
</table>
