<%= render partial: 'layouts/menu', locals: { parent: "#{@company.name.titleize}", child: "Dashboard" } %>
<%= render 'icon_cards' %>
<%= render 'performance_by_date' %>
<%= render 'performance_by_teams' %>

<!-- DataTables Card-->
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Job Postings</div>
    <div class="card-body">
        <%= render 'grid' %>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
