<!DOCTYPE html>
<html>
  <head>
    <title>Limelight</title>
    <%= csrf_meta_tags %>

    <!-- load application.scss and apply to all content -->
    <%= stylesheet_link_tag    'application', media: 'all' %>

    <!-- load external css through cdn -->
    <!-- create a new tag for each -->
    <!--
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    -->

    <!-- load application.js and external js through cdn -->
    <!-- append as needed -->
    <%= javascript_include_tag 'application', 'https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js', 'https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/js/jquery.dataTables.min.js', 'https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/js/dataTables.bootstrap4.min.js' %>

  </head>
  <% if user_signed_in? %>
    <body class="fixed-nav sticky-footer bg-dark sidenav-toggled" id="page-top">
      <%= render '/layouts/nav_user' %>
    </body>
  <% else %>
    <body>
      <%= render '/layouts/nav_guest' %>
    </body>
  <% end %>
</html>
