<!DOCTYPE html>
<html>
  <head>
    <title>Limelight</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <!-- Renders a different nav bar for users and guests -->
  <% if user_signed_in? %>
    <%= render '/layouts/nav_user' %>
  <% else %>
    <%= render '/layouts/nav_guest' %>
  <% end %>

  <body>
    <!-- this will be required by devise gem later
    <p class="notice"><%#= notice %></p>
    <p class="alert"><%#= alert %></p>
    -->
    <%= yield %>
  </body>
</html>
